includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - public
        - vendor
        - storage
        - config
        - tests_codeception/Support/_generated
